/* font family add */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* Add the Tailwind directives to your CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* mobile menu show css */
.showMenu {
  left: 0;
}

.showCateMenu {
  opacity: 1;
  z-index: 111;
  visibility: visible;
}

.showPicUp {
  opacity: 1;
  z-index: 111;
  visibility: visible;
}

.lanShow {
  opacity: 1;
  z-index: 111;
  visibility: visible;
}

.show_location {
  opacity: 1;
  z-index: 111;
  visibility: visible;
}

/* text background clip color */
@layer components {
  .text-clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #028ff0 0%, #02f0c3 100%);
    background-size: 100%;
  }
  .bmp_btn {
    color: #fff;
    border-radius: 6px;
    background: linear-gradient(94.99deg, #028ff0 0%, #0dc1d9 98.12%);
  }
}
/* button  */

select {
  background-image: none;
}

/* banner shape */
.e_banner_b_shap svg {
  margin-left: -23px;
  width: calc(100% + 42.3px);
}

/* accordion css */
.accordion__active .accordion__content {
  opacity: 1;
}

.accordion {
  width: 100%;
  overflow: hidden;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
}

.accordion__content.active {
  opacity: 1;
  visibility: visible;
}

/* List and grid active button */

.grid_view.active_button svg path {
  fill: #076faf;
}
.list_view.active_button svg path {
  stroke: #076faf;
}

/* product review toggle content */
.review_show {
  opacity: 1;
}

/* swiper all button css hear */
.swiper-pagination span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 8px;
}
.swiper-pagination
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 0.5;
  width: 26px;
  background: #02f0c3;
}

.swiper-slide-thumb-active img {
  border: 1px solid #000;
}
.location_slider .swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}

@media (max-width: 767px) {
  .newArrival-button-next,
  .newArrival-button-prev {
    display: none;
  }
}
.newArrival-button-next.swiper-button-disabled {
  opacity: 0.5;
}
.newArrival-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

/* e-franchises step modal */
#modal_bg {
  animation-name: animatemodal;
  animation-duration: 0.4s;
}

/* animation part */
@keyframes animatemodal {
  from {
    top: -800px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
  }
}
/* animation part end */

/* e-franchises profile */
.e-profile-wrap ul li a {
  transition: all 0.3s ease-in-out;
}
.e-profile-wrap ul li a span {
  transition: all 0.2s ease-in-out;
}
.e-profile-wrap ul li a.active,
.e-profile-wrap ul li a:hover {
  background: #0dc1d9;
}
.e-profile-wrap ul li a.active span,
a:hover span {
  color: #fff;
}
.e-profile-wrap ul li a.active span svg path,
a:hover span svg path {
  fill: #fff;
}
.e-profile-wrap ul li a.active span svg defs stop,
a:hover span svg defs stop {
  stop-color: #fff;
}

.w-tabs .w-btn-container button.w-btn.active {
  color: #fff;
  background: linear-gradient(94.99deg, #028ff0 0%, #0dc1d9 98.12%);
}
.w-tabs .w-panel-container .w-panel {
  opacity: 0;
  height: auto;
  max-height: 0px;
  display: none;
  transition: all 0.2s ease-in-out;
}
.w-tabs .w-panel-container .w-panel.active {
  opacity: 1;
  height: auto;
  max-height: 500px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.profit_card #chart-line-tasks {
  height: 350px!important;
}

.select-box .options-container {
  width: calc(100% - 1px);
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}
.select-box .options-container.active + .selected::after {
  transform: translateY(-50%) rotate(225deg);
}

.select-box .selected::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #0DC1D9;
  border-width: 0 0 8px 8px;
  transform: translateY(-50%)rotate(45deg);
}


@media (max-width: 1199px) {
  .e-profile .profile-left {
    left: -300px;
  }
}

.e_profile_right {
  width: 100%;
}

@media (min-width: 1200px) {
  .e_profile_right {
    width: calc(100% - 320px);
  }
}

@media (min-width: 768px) {
  .e-profile .e_profile_right .referral-content ul.overview_list li {
    width: calc(100% / 3);
  }
}

@media (min-width: 768px) {
  .e-profile .e_profile_right .table-item ul.overview_list li {
    width: calc(100% / 3);
  }
}
